[data-pullquote]:before {
	/* Reset metrics. */
	padding: 16px;
	border: none;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	
	/* Content */
	content: attr(data-pullquote);
	
	/* Pull out to the right */
	float: right;
	width: 320px;
	margin: 16px 0 16px 16px;
	
	/* Baseline correction */
	position: relative;
	top: 5px;
	
	/* Typography */
	font-size: 23px;
	line-height: 30px;
}
